/*------basic--------*/
p{
    font-size: 20px;
    text-align: center;
    border-radius: 20px 20px 20px 20px;
    
    border-color: tomato;
}

button{
    color: white;
    height: 40px;
    width: 100px ;
    margin-left: 45%;
    margin-top: 20px;
    border-radius: 10px 10px 10px 10px;
    background-color:blue;
    box-shadow: black;
}

button:hover{
    height: 42px;
    width: 102px ;

}

/*---------id--------*/
#quiz{
    padding-top: 25px;
    color: #DEF2F1;
    text-align: center;
    font-size: 350%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

/*------classes------*/
.init{
    padding-left: 20px;

}
.radio{
    font-size: 20px;
    padding-left: 45%;
}

.head{
    height: 20vh;
    background-color: #17242A;

}
.line{
    height: 10vh;
    background-color: #2B7A77;
    
}

.questions{
    background-color: #3AAFA9;
    

}