<div class="head"><div id="quiz"><strong><u>Geography Quiz</u></strong></div></div>
<div class="line"></div>
<div class="questions">
    <div>
        <p>1) The Tropic of Cancer does not pass through:</p><br>
        
        <div class="radio">
            <input id="in" type="radio">(a) Rajasthan <br>

            <input id="in" type="radio">(b) Odisha<br> 

            <input id="in" type="radio"> (c) Chhattisgarh <br>
        
            <input id="in" type="radio"> (d) Tripura <br>
        </div>
    </div>

    <div>
        <p>2) Uttarakhand, Uttar Pradesh, Bihar, West Bengal and Sikkim have common frontiers:</p><br>
        
        <div class="radio">
            <input id="in" type="radio">(a) China <br>
        
            <input  id="in" type="radio">(b) Bhutan<br>
        
            <input  id="in" type="radio"> (c) Nepal <br>
        
            <input  id="in" type="radio"> (d) Myanmar  <br>

        </div> 
    </div>

    <div>
        <p>3) Which one of the following industries manufactures telephones, computer?</p><br>
        
        <div class="radio">
            <input  id="in" type="radio">(a) Steel<br>
        
            <input  id="in" type="radio">(b) Electronic<br>
        
            <input  id="in" type="radio"> (c) Aluminium<br>
        
            <input  id="in" type="radio"> (d) Information Technology<br>
        </div>
    </div>
    <div>
        <p>4) Which one of the following minerals are formed by the decomposition of rocks,leaving a residual mass of weathered material?</p><br>
       
        <div class="radio">
            <input  id="in" type="radio">(a) Coal <br>
        
            <input  id="in" type="radio">(b) Bauxite <br>
        
            <input  id="in" type="radio">(c) Gold <br>
        
            <input  id="in" type="radio">(d) Zinc<br>
        </div>
    </div>
    <div>
        <p>5) The easternmost longitude of India is:</p> <br>

        <div class="radio">
            <input  id="in" type="radio">(a) 97° 25′ E <br>

            <input  id="in" type="radio">(b) 68° 7′ E <br>

            <input  id="in" type="radio">(c) 77° 6′ E <br>

            <input  id="in" type="radio">(d) 82° 32′ E <br>
        </div>
    </div>
    <div>
        <p>5) The easternmost longitude of India is:</p> <br>

        <div class="radio">
            <input  id="in" type="radio">(a) Coast<br>

            <input  id="in" type="radio">(b) Island <br>

            <input  id="in" type="radio">(c) Peninsula<br>

            <input  id="in" type="radio">(d) None of the above <br>
        </div>
    </div>

    <div>
        <p>7)  Minerals are deposited and accumulated in the strata of which of the following rocks?</p> <br>

        <div class="radio">
            <input  id="in" type="radio">(a) Sedimentary Rocks <br>

            <input  id="in" type="radio">(b) Metamorphic Rocks <br>

            <input  id="in" type="radio">(c) Igneous Rocks <br>

            <input  id="in" type="radio">(d) None of the above <br>

        </div>
    </div>

    <div>
        <p>8)  The western coastal strip, south of Goa is referred to as:</p> <br>

        <div class="radio">
            <input  id="in" type="radio">(a) Coromandel<br>

            <input  id="in" type="radio">(b) Konkan <br>

            <input  id="in" type="radio">(c) Kannad<br>

            <input  id="in" type="radio">(d) Northern Circar <br>
        </div>
    </div>
    <div>
        <p>9) The innermost layer of the earth is:</p> <br>

        <div class="radio">
            <input  id="in" type="radio">(a) Crust<br>

            <input  id="in" type="radio">(b) Core <br>

            <input  id="in" type="radio">(c) Mantle<br>

            <input  id="in" type="radio">(d) none of these <br>
        </div>
    </div>

    <div>
        <p>10) In which of the following states is the Wular lake located?</p> <br>

        <div class="radio">
            <input  id="in" type="radio">(a) Rajasthan <br>

            <input  id="in" type="radio">(b) Punjab <br>

            <input  id="in" type="radio">(c) Uttar Pradesh<br>

            <input  id="in" type="radio">(d) Jammu and Kashmir<br>
        </div>
    </div>

    <div>
        <p>11) The river Narmada has its source at:</p> <br>

        <div class="radio">
            <input  id="in" type="radio">(a) Satpura<br>

            <input  id="in" type="radio">(b) Amarkantak  <br>
 
            <input  id="in" type="radio">(c) Brahmagiri <br>
 
            <input  id="in" type="radio">(d) Slopes of the Western Ghat.<br>
        </div>
    </div>

    <div>
        <p>12) Which of the following layers of the atmosphere is free from clouds?</p> <br>

        <div class="radio">
            <input  id="in" type="radio">(a) Troposphere <br>

            <input  id="in" type="radio">(b) Stratosphere <br>

            <input  id="in" type="radio">(c) Mesosphere <br>

            <input  id="in" type="radio">(d) None of these <br>
        </div>
    </div>

    <div>
        <p>13) Which one of the following is the longest river in Peninsular India?</p> <br>

        <div class="radio">
            <input  id="in" type="radio">(a) Narmada <br>

            <input  id="in" type="radio">(b) Godavari <br>

            <input  id="in" type="radio">(c) Krishna<br>

            <input  id="in" type="radio">(d) Mahanadi<br>
        </div>
    </div>

    <div>
        <p>14) Which one amongst the following rivers flows through a rift valley?</p> <br>

        <div class="radio">
            <input  id="in" type="radio">(a) Mahanadi<br>

            <input  id="in" type="radio">(b) Krishna <br>
 
            <input  id="in" type="radio">(c) Tungabhadra<br>

            <input  id="in" type="radio">(d) Tapi<br>
        </div>

    </div>

    <div>
        <p>15) Which one of the following places receives the highest rainfall in the world?</p> <br>

        <div class="radio">
            <input  id="in" type="radio">(a) Silchar <br>

            <input  id="in" type="radio">(b) Mawsynram <br>

            <input  id="in" type="radio">(c) Cherrapunji<br>

            <input  id="in" type="radio">(d) Guwahati<br>
        </div>

    </div>

    <div>
        <p>16) Sahara is located in which part of Africa?</p> <br>

        <div class="radio">
            <input  id="in" type="radio">(a) eastern<br>

            <input  id="in" type="radio">(b) northern <br>

            <input  id="in" type="radio">(c) western<br>

            <input  id="in" type="radio">(d) southern<br>
        </div>
    </div>

    <div>
        <p>17) Monsoon arrives in India approximately in:</p> <br>

        <div class="radio">
            <input  id="in" type="radio">(a) Early May<br>

            <input  id="in" type="radio">(b) Early July <br>

            <input  id="in" type="radio">(c) Early June<br>
  
            <input  id="in" type="radio">(d) Early August<br>

        </div>

    </div>

    <div>
        <p>18) Which one of the following agencies markets steel for the public sector plants?</p> <br>
         
        <div class="radio">
            
          <input  id="in" type="radio">(a) HAIL <br>

          <input  id="in" type="radio">(b) SAIL <br>

          <input  id="in" type="radio">(c) TATA Steel<br> 

          <input  id="in" type="radio">(d) MNCC<br>

        </div>

    </div>

    <div>
        <p>19) To which one of the following types of vegetation does rubber belong to?</p> <br>

        <div class="radio">
            <input  id="in" type="radio">(a) Tundra <br>

            <input  id="in" type="radio">(b) Himalayan  <br>

            <input  id="in" type="radio">(c) Tidal <br>

            <input  id="in" type="radio">(d) Tropical Evergreen <br>

        </div>
    </div>

    <div>
        <p>20) Which one of the following industries uses limestone as a raw material?</p> <br>

        <div class="radio">
            <input  id="in" type="radio">(a) Aluminium <br>

            <input  id="in" type="radio">(b) Cement <br>

            <input  id="in" type="radio">(c) Sugar <br>

            <input  id="in" type="radio">(d) Jute <br>
        </div>

    </div>
    
    <button>Submit</button>
</div>

