<div class="header">
    <h1><strong>Check Your Knowledge</strong></h1>
</div>

<div>
    <table>
        <tr>
            <td>
                <img class="one" src="../../assets/images/Geography Quiz.png" routerLink="/geography" >
            </td>
            <td>
                <img class="two" src="../../assets/images/intelligence quiz.png" routerLink="/intelligence">
            </td>
        </tr>
        <tr>
            <td>
                <img class="three" src="../../assets/images/mean stack quiz.png" routerLink="/mean-stack">
            </td>
            <td>
                <img class="four" src="../../assets/images/science Quiz.png" routerLink="/science">
            </td>
        </tr>
    </table>      
    
       

</div>




