<ul>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
</ul>
<style>
	
	.center {
	  margin: 0;
	  position: absolute;
	  top: 60%;
	  left: 46%;
	  -ms-transform: translate(-50%, -50%);
	  transform: translate(-50%, -50%);
	}
	</style>

	
	<div class="container">
	  <div class="center">
		<button routerLink="/signup">Continue</button>
	  </div>
	</div>
	


